Source: rgbtest
Section: utils
Priority: optional
Maintainer: chipmunk.sm <dannico@linuxmail.org>
Build-Depends: debhelper,
            qtbase5-dev,
            qttools5-dev-tools
Standards-Version: 4.0.0
Homepage: https://github.com/chipmunk-sm/rgbtest

Package: rgbtest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LCD Monitor Dead Pixel Test
