Source: rgbtest
Section: kde
Priority: optional
Maintainer: chipmunk.sm <dannico@linuxmail.org>
Build-Depends: debhelper (>=9),
            qtbase5-dev
Standards-Version: 3.9.8
Homepage: https://github.com/chipmunk-sm/rgbtest
Vcs-Bzr: https://code.launchpad.net/~chipmunk.sm/rgbtest/master

Package: rgbtest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LCD Dead Pixel Test
